<html>
<!-- templates/about.html -->
{% extends "base.html" %}
{% block title %}About Me - DevOps Portfolio{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h2>About Me</h2>
        <p>I am passionate about DevOps and automation, and am currently pursuing knowledge in MLOps and deeplearning with Python to add to my repetoire and leverage even more automation in the future. My original thought process was to find the intersection of a few different paths: Software engineering, DevOps and AI, and so I am building a knowledgebase in all of those fields. I would like to take a lesson from CI/CD and continuously integrate and develop myself.  </p>
    </div>
</div>

<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h2>Experience</h2>
        <p>Experience with Python scripting, Bash scripting, AWS, Kubernetes, Docker, Terraform, Git, Linux and Windows systems, Slack integration, Prometheus, CI/CD pipelines</p>
    </div>
</div>

{% endblock %}

</html>