<html>
<!-- templates/about.html -->
{% extends "base.html" %}
{% block title %}About Me - DevOps Portfolio{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h2>About Me</h2>
        <p>I am passionate about DevOps and automation, and am currently pursuing knowledge in MLOps and deeplearning with Python to add to my repetoire and leverage even more automation in the future. I wanted to find the intersection of a few different paths: Software Engineering, DevOps and AI.  </p>
    </div>
</div>

<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h2>Experience</h2>
        <p>Experience with Python scripting, Bash scripting, AWS, Kubernetes, Docker, Terraform, Git, Linux and Windows systems, Slack integration, CI/CD pipelines</p>
    </div>
</div>

{% endblock %}

</html>